@font-face {
	font-family: 'Futura';
  src: url("./ressource/fonts/Futura.ttf") format('truetype');
}

html {
	text-align: center;
}

body{
	background: url("./ressource/hintergrund/apex-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  font-family: 'Futura';
  align: center;
  position: relative;
}

p {
  margin: -4px;
  font-size: 40px;
}

.header {
  margin-top: 50px;
}

.buttons {
  margin-top: 50px;
}

.welcometext {
  margin-top: 50px;
}

.video {
  margin-top: 50px;
}

.shop {
  margin-top: 50px;
}

.grid {
  position: relative;
  margin-top: 50px;
  height: 500px;
  width: 1120px;
  align-items: center;
  justify-content: center;
  display: inline-grid;
  grid-template-columns: (repeat 2, 500px;);
  grid-gap: 120px;
}

.gridtwo {
  position: relative;
  height: 200px;
  width: 1120px;
  align-items: center;
  justify-content: center;
  display: inline-grid;
  grid-template-columns: (repeat 2, 500px;);
  grid-gap: 120px;
}


.box {
  position: relative
  background-color: black;
  border: 10px black solid;
  width: 500px;
  height: 500px;
  display: grid;
}

.boxtwo {
  position: relative
  background-color: black;
  width: 500px;
  display: grid;
}

.disc {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;

  background-color: black;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.shirt {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;

  background-color: black;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.black {
  background-color: black;
  color: white;
  font-family: 'Futura';
  width: 100%;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.black h1 {
  color: black;
}

.gridtwo p {
  font-size: 18px;
  margin: auto;
}

.container p {
  font-size: 18px;
  margin: auto;
}

.contact {

}

.container {
  width: 960;
  align-content: left;
  justify-content: left;
  justify-items: left;
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
}

.follow {
  margin-left: 75%;
}
